.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 250, 255);
}



.main { 
  flex: 1;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px; 
  display: flex; 
  justify-content: center;
  align-items: center;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 115em;
}

