.toggleButtonGroup {
  display: flex;
  /* align-self: flex-end; */
  margin-right: 1.3rem;
  justify-content: space-between;
  background-color: orange;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 3em;
  width: 86em;
  background-color: pink;
}

.alignInfo {
  display: flex;
}

.expandInfo {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  background-color: green;
}

.rightArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.rightArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}

.leftArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
}

.leftArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}

.upArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
}

.upArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}

.downArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

.downArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}
