.sortAndToggle {
  display: flex;
  width: 100% !important;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem 0;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: pink;
}

.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 0.5em;
  max-width: 86em;
  background-color: antiquewhite;
}

.alignInfo {
  display: flex;
}

.expandInfo {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.rightArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.rightArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}

.leftArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
}

.leftArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}

.upArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  cursor: pointer;
}

.upArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}

.downArrow {
  border: solid var(--dark-green);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
}

.downArrow:hover {
  border: solid var(--light-green);
  border-width: 0 5px 5px 0;
}
