.headerstyle {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  color: #191c24;
  border-bottom: 1px solid var(--dark-green);
  align-items: center;
}

.titles {
  margin: 0 30px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin-left: 25px;
}

.makeClickable {
  cursor: pointer;
}
