.container {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--main-color); */
  background-color: rgb(190, 238, 190);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(115, 106, 168);
}
