.container {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  min-width: 420px;

  padding: 15px;
  margin-right: 35px;
  margin-left: 50px;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.title {
  align-self: flex-start;
  width: 250px;
  margin-left: 20px;
}
